body {
    font-family: 'Raleway', sans-serif;
    background: #E9ECE9;
}

.horapegada {
    position: relative;
    top: -7px;
}

.divchat {
    font-size: 14px !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    margin-right: 26px !important;
    z-index: 1000;
    position: fixed !important;
}

.mostrar {
    width: 6em !important;
    height: 6em !important;
    border-radius: 100% !important;
    border: none !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    font-size: 18px !important;
    outline: none !important;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    margin-right: 26px !important;
    z-index: 1000;
    position: fixed !important;
    background-color: #D06B5F !important;
}

.botonsalir {
    padding-top: 0px !important;
    padding-right: 10px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    margin-top: -4px !important;
}

.divtextcli {
    display: none;
}

.horaenvio {
    padding-left: 70%;
}

.horaenvio {
    padding-left: 70%;
}

.horabot {
    padding-left: 70%;
    color: black;
}

.respuestaCA {
    color: black;
}

.respuestaCATitulo {
    color: black;
}

.textoseleccione {
    color: black;
}

.comments-card {
    width: 35%;
}

.tamcard {
    max-width: 21rem !important;
    min-width: 21rem !important;
}

.cabeceracard {
    background: #002753;
    margin-bottom: -12px !important;
}

.titulo {
    color: white;
}

.cargando {
    display: none;
}

.btnopciones {
    background: #147DA2 !important;
    border-color: #147DA2 !important;
}

.btnenviar {
    background: #147DA2 !important;
    border-color: #147DA2 !important;
}

.comments-main {
    background: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    min-height: 320px;
    height: 320px;
}

.comment time,
.comment:hover time,
.icon-rocknroll,
.like-count {
    -webkit-transition: .25s opacity linear;
    transition: .25s opacity linear;
}

.comments-main ul li {
    list-style: none;
}

.comments .comment_sender {
    padding: 5px 10px;
    margin-left: 19px;
    margin-top: -6px;
    margin-bottom: -3px;
    background: #F1F1EE;
}

.comments .comment_receiver {
    padding: 5px 10px;
    background: #35CDCE;
    color: white;
    margin: 4%;
}

.comments .comment:hover time {
    opacity: 1;
}

.comments .user-img img {
    width: 50px;
    height: 50px;
}

.comments .comment h4 {
    display: inline-block;
    font-size: 16px;
}

.comments .comment h4 a {
    color: #404040;
    text-decoration: none;
}

.comments .comment .icon-rocknroll {
    color: #545454;
    font-size: .85rem;
}

.comments .comment .icon-rocknroll:hover {
    opacity: .5;
}

.comments .comment time,
.comments .comment .like-count,
.comments .comment .icon-rocknroll {
    font-size: .75rem;
    opacity: 0;
}

.comments .comment time,
.comments .comment .like-count {
    font-weight: 300;
}

.comments .comment p {
    font-size: 13px;
}

.comments .comment p .reply {
    color: #BFBFA8;
    cursor: pointer;
}

.comments .comment .active {
    opacity: 1;
}

.icon-rocknroll {
    background: none;
    outline: none;
    cursor: pointer;
    margin: 0 .125rem 0 0;
}

.comments .comment:hover .icon-rocknroll,
.comments .comment:hover .like-count {
    opacity: 1;
}

.comment-box-main {
    background: #F7F7F7;
}

.comment-name-header {
    background: #0B3E69;
}

@media (min-width: 320px) and (max-width: 480px) {
    .comments .comment h4 {
        font-size: 12px;
    }
    .comments .comment p {
        font-size: 11px;
    }
    .comment-box-main .send-btn button {
        margin-left: 5px;
    }
}